@charset "utf-8";
/*
Theme Name: BS_HTML
Description: First step for Bootstrap
Author: Myself
*/
/* Original CSS */

/* ### Bootstrap Hacking ### */
.navbar {
  margin-bottom: 0;
}

.panel h2 {
  font-size: 130%;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: underline;
}

.carousel {
  margin: 0 0 20px 0;
}

/* ### My Style ### */

/* global-nav */
/* --- media query --- */
@media (min-width: 768px) {

#global-nav {
  background: none;
  border-radius: 0;
  padding: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: linear-gradient(to bottom, #fff 0%, #ededed 70%);
  margin-bottom: 20px;
}

#global-nav ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-left: 0!important;
  padding: 0;
  font-size: 120%;
  list-style: none;
}

#global-nav li {
  display: table-cell;
  width: 100%;
  text-align: center;
}

#global-nav .navbar-nav, #global-nav .navbar-nav>li {
  float: none;
}

#global-nav .navbar-collapse {
  padding: 0;
}

#global-nav li a {
  display: block;
  padding: 10px auto;
}

#global-nav li a {
  border-right: 1px solid #aaa;
}

#global-nav li:first-child a {
  border-left: 1px solid #aaa;
}

#global-nav li a {
  text-decoration: none;
}

}
/* --- /media query --- */

/* sub */
#caution-box .panel-heading {
  color: #fff;
  background-color: #be0f0f;
}

#vip-menu .list-group-item {
  font-size: 120%;
  border-color: #a75503;
}

#vip-menu li:first-child {
  margin-bottom: 5px;
}

#vip-menu li a {
  text-decoration: none;
}

#vip-menu li a:hover,
#vip-menu li a:focus,
#vip-menu li a:active {
  background-color: #ffe17d;
}

#info-box .panel-heading {
  color: #fff;
  background-color: #dd104f;
}

#info-box ul {
  padding-left: 20px;
}

/* main */
#newsrelease .panel-heading {
  color: #fff;
  background-color: #0d33b1;
}

#newsrelease ul {
  padding-left: 20px;
}

/* footer */
#footer .navbar ul li a {
  padding: 10px 10px 10px 15px;
  background: url(images/arrow-orange.gif) top left no-repeat;
  background-position: 0 14px;
}
#footer .navbar ul li a:hover,
#footer .navbar ul li a:focus,
#footer .navbar ul li a:active {
  text-decoration: underline;
}

/* header */
#header .navbar #header-nav li a {
  padding: 10px 10px 10px 15px;
  background: url(images/arrow-orange.gif) top left no-repeat;
  background-position: 0 14px;
}

#header .navbar #header-nav li a:hover,
#header .navbar #header-nav li a:focus,
#header .navbar #header-nav li a:active {
  text-decoration: underline;
}

#header #font-sizer {
  padding-left: 15px;
  margin-bottom: 0;
}

/* --- media query --- */
@media (max-width: 767px) {
  
  #header #font-sizer {
    padding-left: 0;
    margin: 5px 0;
  }
  
  #header {
    border: none!important;
  }

  #header .navbar-header img {
    display: block;
    margin: 0 auto;
  }

  #header .navbar-form, #header .navbar-right {
    border: none;
  }

  #header .navbar-right {
    float: none;
    text-align: center;
  }

  #header .navbar-right li {
    text-align: left;
  }

  #global-nav {
    border: none;
  }

  #global-nav .navbar-collapse {
    border: none;
    margin-bottom: 0;
    box-shadow: none;
  }

  #global-nav li a {
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to bottom, #fff 0%, #ededed 70%);
  }

  #global-nav li:first-child a {
    border-top: 1px solid #ccc;
  }
  
}
/* --- /media query --- */

/* carousel */
#play-controls {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  list-style: none;
}

#play-controls li a,
#play-controls li a:hover,
#play-controls li a:focus,
#play-controls li a:active {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

/* article */
#article .page-header {
  margin-top: 1px;
  background: linear-gradient(to bottom, #96f86a 50%, #fff 100%);
  padding: 20px;
}

#article .page-header h2 {
  font-size: 150%;
  margin-top: 0;
}